<p id="notice"><%= notice %></p>

<p>
  <strong>Stok adi:</strong>
  <%= @stok.stok_adi %>
</p>

<p>
  <strong>Stok adi2:</strong>
  <%= @stok.stok_adi2 %>
</p>

<p>
  <strong>Stok birim:</strong>
  <%= @stok.stok_birim %>
</p>

<p>
  <strong>Stok gen:</strong>
  <%= @stok.stok_gen %>
</p>

<p>
  <strong>Stok yuk:</strong>
  <%= @stok.stok_yuk %>
</p>

<p>
  <strong>Stok der:</strong>
  <%= @stok.stok_der %>
</p>

<%= link_to 'Edit', edit_stok_path(@stok) %> |
<%= link_to 'Back', stoks_path %>
