<p id="notice"><%= notice %></p>

<p>
  <strong>Unvan:</strong>
  <%= @cari.unvan %>
</p>

<p>
  <strong>Unvan2:</strong>
  <%= @cari.unvan2 %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @cari.adres %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @cari.telefon %>
</p>

<p>
  <strong>Il:</strong>
  <%= @cari.il %>
</p>

<p>
  <strong>Ilce:</strong>
  <%= @cari.ilce %>
</p>

<p>
  <strong>Vergi dairesi:</strong>
  <%= @cari.vergi_dairesi %>
</p>

<p>
  <strong>Vergi no:</strong>
  <%= @cari.vergi_no %>
</p>

<p>
  <strong>Varis tipi:</strong>
  <%= @cari.varis_tipi %>
</p>

<%= link_to 'Edit', edit_cari_path(@cari) %> |
<%= link_to 'Back', caris_path %>
